<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">

    <div style="background-color: orange; color: white; display: flex; align-items: center; padding: 15px 20px;">
        <h1 style="font-size: 24px; margin-top: 30px;">GatorPool</h1>
    </div>

    <div style="padding: 20px; text-align: left; background-color: white; ">
        <h1 style="color: black; font-size: 24px;">Hello {{EMAIL}},</h1>
        <p style="color: black; font-size: 18px;">Thank you for signing up to TerraTrade. <br />
        Click the button below to verify your email address.</p>
        </p>
        
        <a href="{{URL}}" style="display: inline-block; background-color: orange; color: white; text-decoration: none; 
            padding: 10px 20px; border-radius: 50px; font-weight: bold; font-size: 16px;">
            Verify Account
        </a>

        <h1 style="color: red; font-size: 14px; 
        font-weight:normal; margin-top: 20px;">
        If you are on a mobile device, you may need to copy and paste the link below into your browser to verify your account.
            <br />
        </h1>

        <h1 style="color: black; font-size: 14px; 
        font-weight:normal; margin-top: 20px;">
            If you are having problems with the button above, copy and paste the following link into your browser:
            <br />
            {{URL}}
        </h1>
    </div>

</body>
</html>
